@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.dashboardnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.dashboardnav__heading {
  font-family: "Berkshire Swash", cursive;
  padding: 10px;
  font-size: 25px;
  margin-left: 10px;
}

.dashboardnav__menu {
  padding: 10px;
  margin-right: 10px;
}
#surveyButton{
    margin-left: 20px;
    margin-top: 10px;
  }
@media screen and (min-width: 768px) {
  .dashboardnav__heading {
    margin-left: 70px;
    font-size: 40px;
  }
  .dashboardnav__menu {
    margin-right: 60px;
  }
  #surveyButton{
    margin-left: 70px;
    margin-top: 20px;
  }
}
